<div class="container">
    <h1>Admin Dashboard</h1>

                <ul class="list-group">
                        <li class="list-group-item">All Orders: <%= @orders.length %> <span class="float-right">Edit</span></li>
                        <li class="list-group-item">All Categories <%= @categories.length %> <span class="float-right">Edit</span></li>
                        <li class="list-group-item">All Products <%= @products.length %> <span class="float-right">Edit</span> </li>
                        <li class="list-group-item">All Users <%= @users.length %> <span class="float-right">Edit</span> </li>
                      </ul>

</div>