
//  @import "bootstrap";
body{
    text-align: right;
    align-content: center;
}
// tr {
//     text-align: left;
//     align-content: center;
// }
.product_info * {

    // justify-content: center;
    // align-content: space-between;
    margin-right: 5%;
}