
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";


// body{
//     text-align: right;
//     align-content: center;
// }
// tr {
//     text-align: left;
//     align-content: center;
// }

* {
  box-sizing: border-box;
}



.info{
    text-align: center ;
    
}
.card-title{
    text-align: center ;
    color: gray ;
    font-size: 22px;
    
}
// .container{
//   padding: 15px;
// }
.sidenav {
  height: 400px;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 250px;
    right: 10px;
    background: rgb(10, 168, 55);
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center ;
    justify-content: center ;
    
  }
 
  .buttom {
      margin-bottom: 30px;
  }
  .top {
      margin-top: 50px;
  }
  .card-columns {
     font-size: 17px;
    
     
   
     
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
  }
  
  .sidenav a:hover {
    color: #032d14;
    
  }

  .card  {
      border-color: rgb(200, 241, 213); 
      
  }
.product_info * {

    // justify-content: center;
    // align-content: space-between;
    margin-right: 5%;
}


// sticky footer
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  .button{
    width:200px;
    background-color: rgb(10, 168, 55);
    color : white ;
  }
.link{
  color:white;
}


.card-img-top{
  margin-top:15px;
}

// .container{
//   margin-left: 150px;
  
// }


.row{
  margin: 0;
}

.new {
  text-align: right;
  font-size: 30px;
  margin-top: 20px;

}
.new a{
  color: rgb(10, 168, 55);
}

.card-title a{
  color: rgb(10, 168, 55);
}

.category h1{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(10, 168, 55);
}

.order h3{
  margin-top: 20px;
  color:rgb(10, 168, 55);
  text-align: center;
  margin-bottom: 20px;
}