<h1> Products </h1>
<% @products.each do |product| %>


    <li>
        <img src="<%=product.image%>" alt="">

    <%= link_to product.name, product_path(product) %>

    </li>

    
    
<%end%>
<%= link_to 'new', new_product_path %>